html {
    font-size: large;
}

body {
    position: relative;
    background-color: white;
}

main {
    padding-top:30px;
    background-color: white;
}

.nav-item{
    padding-right: 2px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/dark-blue-technology-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(4px);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

.img-circle {
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

.content{
    padding: 4rem;
    margin: 2rem;
    background-color: rgb(108, 160, 238);
    background-color: rgba(241, 241, 241, 0.938);
    border-radius: 10px;
    color: black;
}

#contactForm_submitted_gif {
    width: 100%;
    height: 30%;
}

.progress {
    margin: 2rem;
}

#aboutme_flex img {
    width: 20%;
    height: auto;
}
#aboutme_flex{
    display: flex;
    flex-direction: row;
}

.contactme-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.contactme-box > iframe {
    border-radius: 10px;
}

.educationTuDublin {
    padding: 2em;
}

.educationCCT {
    padding: 2em;
}

.workexperienceAWS {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tudlogo, #cctlogo {
    width: 100px;
    height: auto;
    padding-bottom: 10px;
}

#awslogo {
    width: 100px;
    height: auto;
}

.projects-card {
    display: flex;
    justify-content: center;
}

.card {
    padding: 1em;
    margin: 1em;
}

.main-bs {
    padding: 2rem;
    margin: 3rem;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0 0 20px
}

.progress {
    height: 20px;
    background: rgb(0, 0, 0);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible
}

.progress, .progress-bar{
    border-radius: 10px;
}

.progress-value {
    color: rgb(255, 255, 255);
}